.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";

  grid-template-columns: 300px 300px;
  grid-template-rows: 200px 300px 100px;

  justify-items: center;
  align-items: center;

  justify-content: center;
  align-content: center;
}
div {
  border: 1px solid red;
}

.header {
  grid-area: header;
  background-color: green;
  width: 100px;
  height: 100px;
}
.menu {
  grid-area: menu;
  background-color: yellow;
  width: 100px;
  height: 100px;
}

.content {
  grid-area: content;
  background-color: rgb(195, 90, 205);
  width: 100px;
  height: 100px;
}

.footer {
  grid-area: footer;
  background-color: tomato;
  width: 100px;
  height: 100px;
}
