.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";

  grid-template-columns: 300px 300px;
  grid-template-rows: 200px 300px 100px;

  width: 200vh;
  height: 100vh;
}
div {
  border: 1px solid red;
}

.header {
  grid-area: header;
  background-color: green;
}
.menu {
  grid-area: menu;
  background-color: yellow;
}

.content {
  grid-area: content;
  background-color: rgb(195, 90, 205);
}

.footer {
  grid-area: footer;
  background-color: tomato;
}
